.rake_test_cache
recipes.tgz
/config/servers.rb

nodes/*.json
nodes/.gitignore
!nodes/sample_host.json
/berks-cookbooks
/cookbooks
/certificates
/tmp
.vagrant

# Bundler
Gemfile.lock
.bundle/install.log
.bundle

# test kitchen
.kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
Policyfile.lock.json
Cheffile.lock
.zero-knife.rb
.librarian

.rbenv-vars
